.text-block {
  margin: 0;
  max-width: 600px;
  font-family: monospace;
  font-size: 20px;
  color: #fff;
  line-height: 1.3;
}

.text-block p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.word {
  display: inline-block;
  white-space: nowrap;
  margin-right: 0.25em;
}

.char {
  will-change: transform;
  display: inline-block;
}
